<!DOCTYPE html>
<html lang="en" class="theme">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="MainHomePage.css">
  <link rel="stylesheet" href="WelcomePage.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
</head>
<body class="appbody" ng-app="navBarDemoBasicUsage" ng-cloak>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="MainHomePage.js"></script>

  <div ng-controller="AppCtrl" ng-cloak>
    <div class="ext-content">
      <div ng-if='currentNavItem=="contactBook"'>
        <table ng-controller="myCtrl" border="1">
          <tr>
            <th>James Lucas</th><br>
            <th>Dawson </th><br>
          </tr>
          <tr>
            <th>ABC Inc. </th><br>
            <th>CEO</th><br>
            <th> 979-597-5259 </th>
          </tr>
          <tr>
            <th>Larry</th><br>
            <th>Mason </th><br>
          </tr>
          <tr>
            <th> Gtes Inc. </th><br>
            <th>Op VP</th><br>
            <th> 949-494-5649 </th>
          </tr>
          <tr>
            <th>Emily</th><br>
            <th>Hither </th><br>
          </tr>
          <tr>
            <th>arrong Inc. </th><br>
            <th>PM</th><br>
            <th> 145-853-4782 </th>
          </tr>
          <tr>
            <th>Tine</th><br>
            <th>Merk </th><br>
          </tr>
          <tr>
            <th> Array Inc. </th><br>
            <th>VP Finance</th><br>
            <th> 487-589-5952 </th>
          </tr>
        </table>
      </div>

      <div ng-if='currentNavItem=="addContact"' >
        <video id="video" width="640" height="480" autoplay="true"></video>
        <button id="snap">Snap Photo</button>
        <canvas id="canvas" width="640" height="480"></canvas>

        <script>
          var video = document.getElementById('video');
          if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
              video.src = window.URL.createObjectURL(stream);
              video.play();
            });
          }

          // Elements for taking the snapshot
          var canvas = document.getElementById('canvas');
          var context = canvas.getContext('2d');
          var video = document.getElementById('video');

          // Trigger photo take
          document.getElementById("snap").addEventListener("click", function() {
            context.drawImage(video, 0, 0, 640, 480);
          });
        </script>
      </div>

      <div ng-if='currentNavItem=="personalProfile"'>
        Your QR:
        <p>
          <img src="https://cdnqrcgde.s3-eu-west-1.amazonaws.com/wp-content/uploads/2013/11/jpeg.jpg" alt="ahrar">
        </p>
        Your Info:
        <p>
          Name: <input type= "text" value= "Jackson"> <br>
          Company: <input type= "text" value= "ABC Inc"> <br>
          Last name: <input type= "text" value= "Ray"> <br>
          Address: <input type= "text" value= "84 Hunny Rd"> <br>
          Number: <input type= "text" value= "416-851-5884"> <br>
          Email: <input type= "text" value= "Jackson@abc.ca"> <br>
          <button onclick= "Popup()"> Update </button>

          <script>
          function Popup(){
            alert("Info will be updated!")
          }
          </script>
      </div>



    <md-content class="md-padding">
      <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="goto('contactBook')" name="contactBook"><img src="assets/contact-book-icon.png" class='icon'></img></md-nav-item>
        <md-nav-item md-nav-click="goto('addContact')" name="addContact"><img src="assets/add-icon.png" class='icon'></img></md-nav-item>
        <md-nav-item md-nav-click="goto('personalProfile')" name="personalProfile"><img src="assets/profile.png" class='icon'></img></md-nav-item>
      </md-nav-bar>

    </md-content>
  </div>

<!--
  <script>
  var app = angular.module("myApp", []);
  app.controller("myCtrl", function($scope) {
      $scope.contactBook = [
         {
              "firstName" : "Alfreds ",
              "lastName" : "Futterkiste"
          }
      ]
  });
  </script> -->

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
-->
